<div class="tagged-posts">
  <h2>Posts Tagged with <%= @tag.name %></h2>  
    <% @tag.posts.each do |post| %>
      <p><%= link_to post.context, main_app.post_path(post) %></p>
    <% end %>  
</div>
